<div class="container-fluid">
    <div class="container filters navbar">
        <ul class="input-group" ng-show="controlsShown">
          <span class="input-group-addon" id="basic-addon1">URL to a .csv file:</span>
          <input type="text" class="form-control" ng-model="source_url">
          <span class="input-group-btn">
            <button id="importSchedule" type="button" class="btn btn-primary" ng-click="importSchedule()">Import Schedule</button>
          </span>
        </ul>
        <ul class="btn-group" ng-show="controlsShown">
            <button type="button" ng-repeat="item in tracks" ng-click="trackFilter()" class="btn" ng-class="{ 'btn-info': item.visible }" >{{item.name}}</button>
            <button type="button" ng-click="hideOrShowAllTracks()" class="btn"><span ng-if="allTracksShown">Hide</span><span ng-if="!allTracksShown">Show</span> All Tracks</button>
        </ul>
        <ul class="btn-group" ng-show="controlsShown">
            <button type="button" ng-model="columns" ng-repeat="column in columns | toArray | orderBy: 'order'" ng-click="columnFilter()" class="btn" ng-class="{ 'btn-info': column.visible }" ng-change="setColumnWidths" >{{column.name}}</button>
        </ul>
        <form class="navbar-form form-horizontal" ng-show="controlsShown">
            <div class="btn-group">
            <button id="createNewEvent" type="button" class="btn btn-primary">Create New Event</button>
            </div>
            <div class="btn-group">
            <select id="sortRowsByColumn" ng-model="orderByColumn" class="form-control" ng-options="column.id as 'Sort Rows By '+column.name for column in columns | toArray">
            </select>
            </div>
            <div class="btn-group">
            <input type="text" id="search" class="form-control" ng-model="query" placeholder="Search">
            </div>
            <div class="btn-group">
            <button class="btn btn-primary" ng-click="controlsShown = false;" >Hide Controls <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span></button>
            </div>
            <button class="btn btn-warning" ng-if="unsavedEdits">Save All Edits <span class="glyphicon glyphicon-save" aria-hidden="true"></button>
        </form>
        <button class="btn btn-primary" ng-click="controlsShown = true;" ng-hide="controlsShown">Show Controls <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
    </nav>
     <div class="row">
        <div ng-repeat="column in columns | toArray | orderBy : 'order' | filter : {'visible':true}" class="col-md-{{column.width}} hidden-sm hidden-xs colheader" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="column.id !== 'description' && column.id !== 'comments'">{{column.name}}</div>
    </div>
    <div class="well text-center" ng-show="allTracksHidden">
        Use the buttons to reveal some tracks.
    </div>
    <div class="well text-center" ng-show="allColumnsHidden">
        Use the buttons to reveal some columns.
    </div>
    <div class="clearfix">
    </div>
 <!--     TODO: ng-controller="EventEditingFormController"
    <form name="eventEditingForm">
 -->
    <div ng-repeat="event in events | orderBy:orderByColumn | filter : query" class="row" ng-class="{'unsaved': event.edited}" ng-show="tracks['{{event.trackuid}}'].visible">
        <div class="cell col-md-{{column.width}} {{column.id}} unedited" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="column in columns | toArray | orderBy : 'order' | filter : {'visible':true}" ng-if="column.id !== 'description' && column.id !== 'comments'" contenteditable ng-model="event[column.id]" ng-change="">
        </div>
       <div class="clearfix"></div>
        <div class="spancell col-md-12 unedited" ng-if="columns.description.visible" contenteditable ng-model="event.description">
        </div>
       <div class="clearfix"></div>
        <div class="spancell col-md-12 unedited comment" ng-if="columns.comments.visible" contenteditable ng-model="event.comments">
        </div>
    </div>
    </form>
</div>
