body {
  padding: 10px;
  background-color: #ECF0F1;
}

.odd {
    background-color: #DDD;
}

.even {
    background-color: #CCC;
}

.title {
    font-weight: bold;
}

.cell {
    border-top: solid;
    border-top-width: 2px;
    border-top-color: #BBB;
}

.spancell {

}

.cell, .spancell, .colheader {
    padding: 0.5rem;
}

.colheader {
    font-weight: bold;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.unedited:hover:before {
    position: absolute;
    left: 0.2em;
    content: '|';
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}

.unedited:hover:after {
    content: '';
    position: absolute;
    left: .2rem;
    top: .2rem;
    width: 95%;
    height: 85%;
    background-color: #FFF;
    border: 1px;
    border-style: solid;
    border-color: #AAA;
    border-radius: .5rem;
    opacity: .3;
}
.edited {
    outline: 2px dotted #c09853;
}

.comment {
    font-style: italic;
}

.comment:before {
    content: 'Note: ';
}