<div class="container-fluid">
  <div class="page-header">
    <h1>Configure This Convention</h1>
  </div>
  <div class="container">
    <form>
    <div class="panel panel-default">
      <div class="panel-body input-group">
        <div class="col-md-6">
          <label for="convention_name" >Convention Name</label>
          <input type="text" id="convention_name" class="form-control" ng-model="convention_name" />
        </div>
        <div class="col-md-6 text-muted">
          For example, instead of just "Genericon", use "Genericon 2016" or "Genericon 25" or "Return Of Genericon".
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        <div class="col-md-4">
          <label for="start_dt">First Day Of The Convention</label>
          <datepicker id="start_dt" ng-model="convention_start_date" ></datepicker>
        </div>
        <div class="col-md-3">
          <label for="start_time">Start Time Of The Convention</label>
          <select id="start_time" ng-model="convention_start_time" class="form-control">
            <ng-option
            <option value="12 AM">12 AM</option>
            <option value="1 AM">1 AM</option>
            <option value="2 AM">2 AM</option>
            <option value="3 AM">3 AM</option>
            <option value="4 AM">4 AM</option>
            <option value="5 AM">5 AM</option>
            <option value="6 AM">6 AM</option>
            <option value="7 AM">7 AM</option>
            <option value="8 AM">8 AM</option>
            <option value="9 AM">9 AM</option>
            <option value="10 AM">10 AM</option>
            <option value="11 AM">11 AM</option>
            <option value="12 PM">12 PM</option>
            <option value="1 PM">1 PM</option>
            <option value="2 PM">2 PM</option>
            <option value="3 PM">3 PM</option>
            <option value="4 PM">4 PM</option>
            <option value="5 PM">5 PM</option>
            <option value="6 PM">6 PM</option>
            <option value="7 PM">7 PM</option>
            <option value="8 PM">8 PM</option>
            <option value="9 PM">9 PM</option>
            <option value="10 PM">10 PM</option>
            <option value="11 PM">11 PM</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="timeslot-length-btn">
            Length Of Timeslots
          </label>
          <input type="text" class="form-control" aria-describedby="add-room-btn" ng-model="timeslot_length">
        </div>
        <div class="col-md-2">
          <label for="timeslot-length-btn">
            Number Of Timeslots
          </label>
          <input type="text" class="form-control" aria-describedby="add-room-btn" ng-model="timeslot_length">
        </div>
        <div class="col-md-8">
          <label for="convention-end">
            Convention Ends At:
          </label>
          <div class="alert alert-info">
            {{convention_end_date}} {{convention_end_date}}
          </div>
          <div class="text-muted">
            <p class="col-md-6"><small>Think hard before changing these time settings after entering events in the system. Events will retain their sequence relative to each other.</small></p>
            <p class="col-md-6"><small>If you change the <span class="label label-info">Start Time Of The Convention</span> or <span class="label label-info">Length Of Timeslots</span>, events will not remain near the time you scheduled them for. Instead, they will remain the same number of timeslots from the start of the convention.</small></p>
            <p class="col-md-6"><small>If you reduce the <span class="label label-info">Number Of Timeslots</span>, every event which had been scheduled during the deleted timeslots will no longer have a time or duration.</small></p>
            <p class="col-md-6"><small>It's best to set these fields once, then leave them alone. Please contact the developers with any questions.</small></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Rooms</label>
        <div class="row">
          <div class="col-md-4 input-group">
            <label for="room_name">New Room Name: </label>
            <input type="text" id="room_name" name="room_name">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="add-room-btn">+</button>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Room Name</label>
          </div>
          <div class="col-md-3">
            <label>Capacity</label>
          </div>
          <div class="col-md-3">
            <label>Sq Ft</label>
          </div>
          <div class="col-md-3">
            <label>Room Group</label>
          </div>
        </div>
        <div ng-repeat="room in rooms | toArray | orderBy : 'group_id'" ng-class-odd="'odd'" ng-class-even="'even'" class="row">
          <div class="col-md-3">
            {{room.name}}
          </div>
          <div class="col-md-3">
            {{room.capacity}}
          </div>
          <div class="col-md-3">
            {{room.sq_ft}}
          </div>
          <div class="col-md-3">
            {{room.group_id}}
          </div>
        </div>
            <label>Room Groups</label>
        <div ng-repeat="room_group in room_groups | toArray | orderBy : 'group_id'" ng-class-odd="'odd'" ng-class-even="'even'" class="row">
          <div class="col-md-3">
            {{room_group.name}}
          </div>
          <div class="col-md-3">
            id #: {{room_group.id}}
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Tracks</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="add-track-btn">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="add-track-btn">+</button>
          </span>
        </div>
        <div ng-repeat="track in tracks" ng-class-odd="'odd'" ng-class-even="'even'" class="col-sm-4 col-md-4 col-lg-4" value="{{track.name}}">
          {{track.name}}
        </div>
      </div>
    </div>
    </form>      
    </div>
  </div>
</div>